@{
    ViewBag.Title = "聯絡我們";
    ViewBag.BodyClass = "ContactUs";
    ViewBag.Target = "聯絡我們";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="title text-left">@ViewBag.Title</h2>

<div class="map col-6 col-sm-12" data-col="first">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.6368673302086!2d121.29734301543428!3d25.012452245307887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34681fafb0ca7305%3A0xdab8c09caca188c7!2zMzMw5qGD5ZyS5biC5qGD5ZyS5Y2A5aSn6IiI6KW_6Lev5LqM5q61NuiZnw!5e0!3m2!1szh-TW!2stw!4v1462444916038" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<dl class="list-info text-left col-6 col-sm-12">
    <dt class="list-info-title">地址</dt>
    <dd class="list-info-content">
        地址/ 桃園市大興西路二段六號四樓之四<br>
        中國工廠/ 福建省泉州市江南火巨開發區
    </dd>

    <dt class="list-info-title">Email</dt>
    <dd class="list-info-content"><a href="mailto:sales2@roki.com.tw">sales2@roki.com.tw</a></dd>

    <dt class="list-info-title">聯絡電話</dt>
    <dd class="list-info-content">03-3011936</dd>

    <dt class="list-info-title">Skype</dt>
</dl>