@{
    ViewBag.Title = "人力招募:英騰要的精英就是你,歡迎加入英騰集團";
    ViewBag.BodyClass = "ContactUs";
    ViewBag.Target = "人力招募";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="wrap">
    <h3 class="title">英騰要的精英就是你,歡迎加入英騰集團</h3>
    @* <div class="col-3">
        <img src="~/Content/images/ContactUs/pic.png" alt="徵才">
    </div> *@
    <a href="" class="btn-primary col-1-3">1111人力銀行</a>
    <a href="" class="btn-warning col-1-3">518人力銀行</a>
    @* <article class="col-9 text-left"></article> *@
</section>