@{
    ViewBag.Title = "聯絡我們:英騰地址:台北市大同區民生西路231號9樓,聯絡英騰:02-2557-8155";
    ViewBag.BodyClass = "ContactUs";
    ViewBag.Target = "聯絡我們";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
        // google 地圖
        var site = new google.maps.LatLng(25.0571798, 121.5135682);

        function init() {

            var mapOptions = {
                // 地圖放大比例-數字愈大愈詳細
                zoom: 14,

                // 不要卷軸功能,ui也不要
                // scrollwheel: false,

                // 地圖中心的緯、經度，必設
                center: site,

                // 顏色樣式
                styles: [{"stylers":[{"saturation":-100},{"gamma":1}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"off"}]},{"featureType":"poi.business","elementType":"labels.text","stylers":[{"visibility":"off"}]},{"featureType":"poi.business","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"poi.place_of_worship","elementType":"labels.text","stylers":[{"visibility":"off"}]},{"featureType":"poi.place_of_worship","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"visibility":"simplified"}]},{"featureType":"water","stylers":[{"visibility":"on"},{"saturation":50},{"gamma":0},{"hue":"#50a5d1"}]},{"featureType":"administrative.neighborhood","elementType":"labels.text.fill","stylers":[{"color":"#333333"}]},{"featureType":"road.local","elementType":"labels.text","stylers":[{"weight":0.5},{"color":"#333333"}]},{"featureType":"transit.station","elementType":"labels.icon","stylers":[{"gamma":1},{"saturation":50}]}]
            };

            // html tag
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var marker = new google.maps.Marker({
                position: site,
                map: map
                // title: 'Taiwan(R.O.C.) Alder Optomechanical Corp.'
            });
            marker.setMap(map);
        }

        // 當網站loading完成後再建立此地圖
        google.maps.event.addDomListener(window, 'load', init);
    </script>
}

<section class="wrap">
    <div id="map-canvas"></div>

    <div class="col-4 contacts text-left">
        <h3 class="text-white">聯絡我們</h3>
        <ul class="list-unstyled">
            <li>英騰集團</li>
            <li><span class="label">地址</span>台北市大同區民生西路231號9樓</li>
            <li><span class="label">電話</span>02-2557-8155</li>
            <li><span class="label">傳真</span>02-2557-3010</li>
            <li><span class="label">服務信箱</span><a href="mailto:pke2000kimo@yahoo.com.tw">pke2000kimo@yahoo.com.tw</a></li>
        </ul>
    </div>
</section>