@charset "UTF-8";

// px換算至em
@function em($px, $context: $font-size-root) {
    @if (unitless($px)) {
        $px: $px * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $px / $context * 1em;
}

// 算寬度百分比
@function cp($target, $container: $max-width) {
    @return ceil(($target / $container) * 100%);
}

// 當前頁選單
@function current($map: $menu-item) {
    $current: ();

    @each $item in $map {
        $i: index($map, $item);
        $current: $current, unquote(".#{$item} &:nth-of-type(#{$i})");
    }
    @return $current;
}


// var Maps
// -----------------------------------------------------------------

// colors
@function color($key) {
    @return map-get($color, $key);
}

// z-index
@function z($key) {
    @return map-get($z-index, $key);
}

// 斷點寬度
// @function page-width($key) {
//     @return map-get($mq-breakpoints, $key);
// }

// 取多層值
// 範例 background: m-get($color-theme, 'default', 'background');
@function m-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

// 進階合併 map function
// About map-merge(): sass內建的合併map功能，但只能2組
// @param {Map} $map - first map
// @param {ArgList} $maps - other maps
// @param {Bool} $deep - recursive mode
// @return {Map}
@function map-extend($map, $maps.../*, $deep */) {
    $last: nth($maps, -1);
    $deep: $last == true;
    $max: if($deep, length($maps) - 1, length($maps));

    // Loop through all maps in $maps...
    @for $i from 1 through $max {
        // Store current map
        $current: nth($maps, $i);

        // If not in deep mode, simply merge current map with map
        @if not $deep {
            $map: map-merge($map, $current);
        } @else {
            // If in deep mode, loop through all tuples in current map
            @each $key, $value in $current {

                // If value is a nested map and same key from map is a nested map as well
                @if type-of($value) == "map" and type-of(map-get($map, $key)) == "map" {
                    // Recursive extend
                    $value: map-extend(map-get($map, $key), $value, true);
                }

                // Merge current tuple with map
                $map: map-merge($map, ($key: $value));
            }
        }
    }

    @return $map;
}