@charset "UTF-8";

// == config
// ----------------------------------------------------------------------
$lte7:                  false !default;           // 是否兼容IE6-7
$enable-flex:           false !default;           // 是否使用 flex 版
$states:                false !default;           // 情境文字是否輸出
$index:                 false !default;           // 首頁用
$page:                  false !default;           // 內頁用


// == color
// ----------------------------------------------------------------------
// 語義色
$gray-base:             #000;
$gray-darker:           lighten($gray-base, 13.5%);   // #222
$gray-dark:             lighten($gray-base, 20%);     // #333
$gray:                  lighten($gray-base, 33.5%);   // #555
$gray-light:            lighten($gray-base, 46.7%);   // #777
$gray-lighter:          lighten($gray-base, 93.5%);   // #eee

// 抽象色
$brand-primary:         #5B2F5D !default;             // 主色
$brand-secondary:       #5F3713 !default;             // 輔色
$success:               #368B39 !default;             // 綠
$info:                  #2F3190 !default;             // 藍
$warning:               #A07910 !default;             // 黃
$error:                 #F35048 !default;             // 紅


// == basic
// ----------------------------------------------------------------------
// <body> 背景 & 文字色
$body-bg:               #E0E2DE !default;
$body-color:            #323232 !default;

// 文字鏈結色&滑鼠移過色
$link-color:            $warning !default;
$link-hover-color:      $brand-primary !default;


// == font
// ----------------------------------------------------------------------
// 微軟正黑體
$font-family-base:      \5FAE\8EDF\6B63\9ED1\9AD4,"微軟正黑體","Microsoft JhengHei",'Helvetica Neue',Helvetica,Arial,sans-serif !default;
$font-family-sp:        'Open Sans',Verdana,Arial,Helvetica,sans-serif;

$font-size-root:        16px !default;
$font-size-base:        16px !default;
$font-size-lg:          $font-size-base * 1.25 !default;     // 20px
$font-size-sm:          $font-size-base * 0.85 !default;     // 13px

$line-height-base:      1.25 !default;                       // 20px/16px
$line-height-computed:  $font-size-base * $line-height-base; // 20px 用在 margin, padding, etc.

$font-size-h1:          $font-size-base * 2.25 !default;
$font-size-h2:          $font-size-base * 1.875 !default;
$font-size-h3:          $font-size-base * 1.5 !default;
$font-size-h4:          $font-size-base * 1.125 !default;
$font-size-h5:          $font-size-base !default;
$font-size-h6:          $font-size-base * 0.875 !default;

$heading-font-family:   $font-family-base !default;
$heading-font-weight:   500 !default;
$heading-line-height:   1.1 !default;

$heading-color:         #1F213B !default;
$heading-small-color:   desaturate($heading-color, 20%) !default;


// == Components
// ----------------------------------------------------------------------
$gutter:                15px !default;
$grid-columns:          12 !default;

// 表單元素(停用)上的滑鼠樣式
$cursor-disabled:           not-allowed;

// 情境狀態 + 配色
$state-type: (
    primary:                $brand-primary,
    success:                $success,
    info:                   $info,
    warning:                $warning,
    error:                  $error
);

// 合併配色
$color: $state-type;


// == RWD-break
// ----------------------------------------------------------------------
$mq-breakpoints: (
    mobile:           320px,
    phone:            480px,
    phone-plus:       640px,
    tablet:           768px,
    desktop:          980px,
    wide:             1200px,
    wider:            1400px
) !default;