@charset "UTF-8";

// == config
// ----------------------------------------------------------------------
$lte7:                    false !default;           // 是否兼容IE6-7
$enable-flex:             false !default;           // 是否使用 flex 版
$enable-RWD:              false !default;           // 是否有行動裝置版面
$states:                  false !default;           // 情境文字是否輸出


// == color
// ----------------------------------------------------------------------
// 語義色
$gray-base:               #000;
$gray-darker:             lighten($gray-base, 13.5%);   // #222
$gray-dark:               lighten($gray-base, 20%);     // #333
$gray:                    lighten($gray-base, 33.5%);   // #555
$gray-light:              lighten($gray-base, 46.7%);   // #777
$gray-lighter:            lighten($gray-base, 93.5%);   // #eee

// 抽象色
$brand-primary:           #5B2F5D !default;             // 主色
$brand-secondary:         #5F3713 !default;             // 輔色
$success:                 #368B39 !default;             // 綠
$info:                    #2F3190 !default;             // 藍
$warning:                 #A07910 !default;             // 黃
$error:                   #F35048 !default;             // 紅


// == basic
// ----------------------------------------------------------------------
$body-bg:                 #E0E2DE !default;
$body-color:              $gray-dark !default;

$link-color:              $warning !default;
$link-decoration:         none !default;
$link-hover-color:        $info !default;
$link-hover-decoration:   false !default;


// == Grid
// ----------------------------------------------------------------------
$grid-columns:            12 !default;
$gutter:                  15px !default;
$spacer:                  1rem !default;


// == font
// ----------------------------------------------------------------------
$font-family-base:           \5FAE\8EDF\6B63\9ED1\9AD4,"微軟正黑體","Microsoft JhengHei",'Helvetica Neue',Helvetica,Arial,sans-serif !default;

$font-size-root:             16px !default;
$font-size-base:             16px !default; // 1rem
$font-size-lg:               1.25rem !default;
$font-size-sm:               .875rem !default;
$font-size-xs:               .75rem !default;

$font-size-h1:               $font-size-base * 2.5 !default;  // 2.5rem
$font-size-h2:               $font-size-base * 2 !default;    // 2rem
$font-size-h3:               $font-size-base * 1.75 !default; // 1.75rem
$font-size-h4:               $font-size-base * 1.5 !default;  // 1.5rem
$font-size-h5:               $font-size-base * 1.25 !default; // 1.25rem
$font-size-h6:               $font-size-base !default;        // 1rem

$line-height:                1.5 !default;

$headings-margin-bottom:     ($spacer / 2) !default;
$headings-font-family:       inherit !default;
$headings-font-weight:       500 !default;
$headings-line-height:       1.1 !default;
$headings-color:             inherit !default;

$lead-font-size:             1.25rem !default;
$lead-font-weight:           300 !default;

$text-muted:                 $gray-light !default;

$abbr-border-color:          $gray-light !default;

$blockquote-small-color:     $gray-light !default;
$blockquote-font-size:       ($font-size-base * 1.25) !default;
$blockquote-border-color:    $gray-lighter !default;

$hr-border:                  1px solid #E3D5C1 !default;



// == Components
// ----------------------------------------------------------------------
// 表單元素(停用)上的滑鼠樣式
$cursor-disabled:           not-allowed;

// 情境狀態 + 配色
$state-type: (
    primary:                $brand-primary,
    success:                $success,
    info:                   $info,
    warning:                $warning,
    error:                  $error
);

// 合併配色
$color: $state-type;


// == RWD-break
// ----------------------------------------------------------------------
$mq-breakpoints: (
    mobile:           320px,
    phone:            480px,
    phone-plus:       640px,
    tablet:           768px,
    desktop:          980px,
    wide:             1200px,
    wider:            1400px
) !default;