@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*      basic elements
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

button {
  outline: none;
  border: none; }

html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent; }

*,
*::before,
*::after {
  box-sizing: inherit; }

@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-webkit-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
body {
  font-family: \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #333333;
  background: #E0E2DE;
  -webkit-font-smoothing: antialiased; }

[tabindex="-1"]:focus {
  outline: none !important; }

a {
  color: #A07910;
  text-decoration: none;
  blur: expression(this.onFocus=this.blur());
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active, a.active {
    color: #5B2F5D; }
  a:focus {
    outline: none; }

img {
  vertical-align: middle; }

@font-face {
  font-family: 'Champagne & Limousines';
  src: url("../font/Champagne&Limousines.eot");
  src: url("../font/Champagne&Limousines.eot?#iefix") format("embedded-opentype"), local("Champagne & Limousines"), url("../font/Champagne&Limousines.otf") format("opentype"); }
.font-sp {
  font-family: "Champagne & Limousines", "Open Sans", Verdana, Arial, Helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.1; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 2.0625em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

.lead {
  font-size: 1.25rem;
  font-weight: 300; }

strong {
  font-size: 1.0625em;
  color: #5B2F5D; }

small {
  font-size: 80%;
  font-weight: normal; }

mark {
  background-color: #efc65a;
  padding: .2em; }

hr {
  border: 0; }

.wrap::after, #header::after, #footer::after, #main::after, .clearfix::after {
  display: table;
  clear: both; }
  .wrap::after, #header::after, #footer::after, #main::after, .clearfix::after, #wrapper::before, #banner::after {
    content: ''; }

.circle {
  border-radius: 50%; }

.full {
  width: 100%;
  max-width: 100%; }

.half {
  width: 49.5%; }

.logo, .foot-contact li, .goTop, .sign {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.list-inline, .list-unstyled, .swiper-wrapper {
  list-style: none; }

.list-inline > li {
  display: inline-block; }

.goTop {
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

/*      layout
-----------------------------------------------------------------------*/
.wrap {
  max-width: 1200px;
  margin: 0 60px; }
  @media (min-width: 87.5em) {
    .wrap {
      margin: 0 auto; } }

html, body {
  text-align: center;
  height: 100%; }

#header, #footer, #main {
  position: relative; }

#wrapper {
  min-height: 100%;
  padding-bottom: 222px;
  background: #E2E2D6 url(../images/bg2.gif) center 0 repeat-y; }
  #wrapper::before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #5B2F5D url(../images/bg.gif) repeat-x 0 56px;
    height: 120px; }

#header {
  background: url(../images/header_bg.gif) no-repeat center 56px;
  height: 120px;
  z-index: 4; }

.logo {
  cursor: pointer;
  cursor: hand;
  z-index: 10;
  background: url(../images/logo.png) 0 0 no-repeat;
  width: 216px;
  height: 204px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

#footer {
  background: #E2E2D6;
  color: #AB9F82;
  min-height: 222px;
  margin-top: -222px;
  z-index: 1;
  padding-top: 30px; }

.copyright {
  background: #AB9F82 url(../images/icon-footer.gif) no-repeat center 12px;
  color: #E0E2DE;
  font-size: 0.8125em;
  padding: 12px 0 13px; }

.foot-contact {
  margin-bottom: 45px; }
  .foot-contact li {
    background-attachment: fixed;
    background: url(../images/footer-contacts.gif) 0 center no-repeat;
    width: 206px;
    height: 103px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5%; }
    .foot-contact li:nth-child(2) {
      width: 214px;
      background-position: -239px 0; }
    .foot-contact li:nth-child(3) {
      width: 240px;
      background-position: -489px 0; }
    .foot-contact li:last-child {
      width: 220px;
      background-position: right 0;
      margin-right: 0; }

#menu {
  height: 64px;
  z-index: 20;
  background: url(../images/menu_bg.gif) center 0 repeat-y;
  float: left;
  margin-top: 56px;
  width: 100%; }
  #menu a {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    width: 138px;
    color: #5F3713;
    font-size: 1.375em;
    letter-spacing: 1px;
    line-height: 64px; }
    @media (min-width: 87.5em) {
      #menu a {
        width: 164px; } }
    #menu a:nth-child(4) {
      margin-left: 208px; }
    #menu a:hover, #menu a:active {
      background: #A07910;
      color: #fff;
      box-shadow: inset 3px 3px 15px rgba(0, 0, 0, 0.3); }
    .AboutUs #menu a:nth-child(1), .Future #menu a:nth-child(2), .Service #menu a:nth-child(3), .Results #menu a:nth-child(4), .Info #menu a:nth-child(5), .Activity #menu a:nth-child(6) {
      color: #1f1206;
      box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5); }
      .AboutUs #menu a:nth-child(1):hover, .AboutUs #menu a:nth-child(1):active, .Future #menu a:nth-child(2):hover, .Future #menu a:nth-child(2):active, .Service #menu a:nth-child(3):hover, .Service #menu a:nth-child(3):active, .Results #menu a:nth-child(4):hover, .Results #menu a:nth-child(4):active, .Info #menu a:nth-child(5):hover, .Info #menu a:nth-child(5):active, .Activity #menu a:nth-child(6):hover, .Activity #menu a:nth-child(6):active {
        background: none; }

.float-l {
  float: left; }

.float-r {
  float: right; }

img.float-l {
  margin-right: 15px; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.img-center {
  display: block;
  margin: auto; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-line {
  border-bottom: 1px solid #2F3190;
  padding-bottom: 15px; }

.text-white, .bg-primary, .bg-success, .bg-info, .bg-warning, .bg-error {
  color: #fff; }

.text-primary {
  color: #5B2F5D; }

.bg-primary {
  background: #6a376c; }

.text-success {
  color: #368B39; }

.bg-success {
  background: #3c9c40; }

.text-info {
  color: #2F3190; }

.bg-info {
  background: #3537a1; }

.text-warning {
  color: #A07910; }

.bg-warning {
  background: #b58912; }

.text-error {
  color: #B84C54; }

.bg-error {
  background: #bf5c64; }

.btn {
  display: inline-block;
  padding: 16px 0;
  -webkit-transition: background .35s, color .5s;
  transition: background .35s, color .5s;
  color: #000;
  background: url(../images/index/btn.gif) no-repeat center center;
  border-radius: 8px;
  box-shadow: -5px 4px 0 rgba(0, 0, 0, 0.3);
  min-width: 148px;
  font-family: "Champagne & Limousines", "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.4375em;
  font-weight: 500;
  line-height: 1.01;
  letter-spacing: 1px; }
  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 1px solid;
    outline: 1px solid #b46824;
    outline-offset: 1px; }
  .btn:active, .btn.active {
    outline: 0; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65; }
  .btn:hover, .btn:active, .btn.active {
    background: url(../images/index/btn2.gif) no-repeat center center;
    box-shadow: none; }

.btn-primary:hover, .btn-primary:active, .btn-success:hover, .btn-success:active, .btn-info:hover, .btn-info:active, .btn-warning:hover, .btn-warning:active, .btn-error:hover, .btn-error:active, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-error {
  color: #fff; }

.btn-primary {
  background-color: #5B2F5D;
  border-color: #4a264c; }
  .btn-primary:hover, .btn-primary:active {
    background-color: #3a1e3b; }

.btn-success {
  background-color: #368B39;
  border-color: #2f7931; }
  .btn-success:hover, .btn-success:active {
    background-color: #28662a; }

.btn-info {
  background-color: #2F3190;
  border-color: #292a7d; }
  .btn-info:hover, .btn-info:active {
    background-color: #22246a; }

.btn-warning {
  background-color: #A07910;
  border-color: #89670e; }
  .btn-warning:hover, .btn-warning:active {
    background-color: #72560b; }

.btn-error {
  background-color: #B84C54;
  border-color: #a8434a; }
  .btn-error:hover, .btn-error:active {
    background-color: #963b42; }

.swiper-slide {
  text-align: center;
  overflow: hidden; }

.goTop {
  display: none;
  z-index: 99;
  opacity: .65;
  position: fixed;
  right: 10px;
  bottom: 30px;
  background: url(../images/goTop.png) 0 0 no-repeat;
  width: 42px;
  height: 42px; }
  .goTop:hover, .goTop:active {
    opacity: 1; }

.top-nav {
  z-index: 21;
  position: absolute;
  top: 12%;
  left: 50%;
  margin-left: 365px; }
  @media (min-width: 87.5em) {
    .top-nav {
      margin-left: 430px; } }
  .top-nav a {
    font-size: 0.9375em;
    color: #fff;
    margin-left: 12px; }
    .top-nav a:hover, .top-nav a:active {
      color: #eab62c; }

#banner {
  padding-top: 28px;
  padding-bottom: 28px;
  height: 616px;
  position: relative;
  background: #2D5D7C;
  background: -webkit-radial-gradient(#2D5D7C 10%, #2A1F3C 90%);
  background: radial-gradient(#2D5D7C 10%, #2A1F3C 90%); }
  #banner::after {
    display: block;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 28px;
    background: url(../images/index/banner_border.png) center center no-repeat;
    width: 1200px;
    height: 556px;
    z-index: 3; }

.sign {
  background: url(../images/sign.png) 0 0 no-repeat;
  width: 130px;
  height: 57px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px; }

section {
  padding: 30px 0; }

.about {
  border-bottom: 5px solid #C8AC93;
  position: relative; }
  .about header {
    color: #161743;
    font-size: 2em;
    background: url(../images/index/title_bg.gif) center 0 no-repeat;
    padding-top: 22px;
    width: 148px;
    height: 113px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .about ul {
    background: url(../images/index/about.png) center 0 no-repeat;
    height: 262px; }
  .about li {
    display: none; }

.intro {
  background: #5B2F5D url(../images/index/intro.gif) center 0 no-repeat;
  color: #fff; }
  .intro .wrap {
    background: url(../images/index/pic.png) right 0 no-repeat;
    padding-right: 370px;
    max-width: 980px;
    margin: auto;
    padding-top: 45px;
    min-height: 397px; }
  .intro header {
    font-size: 3.6875em;
    letter-spacing: 7px;
    text-shadow: 0 0 2px #5B2D4D; }
  .intro h3 {
    letter-spacing: 1px;
    margin-bottom: 30px; }
  .intro p {
    font-size: 1.1875em;
    line-height: 2.2; }
  .intro .sign {
    float: right;
    background-image: url(../images/index/sign.gif);
    margin-top: 20px; }
  .intro .btn {
    margin-top: 40px;
    text-align: center; }
