@charset "UTF-8";

// var 變數，需放在 @import "helper/var" 之上才能覆蓋掉
// ------------------------------------------------------------
$page:               true;
$states:             true;

$font-size-h2:       55px;
$font-size-h3:       32px;
$font-size-h4:       25px;


// import
// ------------------------------------------------------------
@import "_client/settings"; // 覆蓋掉下面的變數

@import "helper/function";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";
@import "base/util";
@import "base/table";

@import "_client/layout";
@import "_client/main";

@import "_client/module/breadcrumb";
@import "_client/module/label";
@import "_client/module/tab";
// @import "_client/module/figure";


// main
// ------------------------------------------------------------
#main {
    img { max-width: 100%; }
    section { padding: $gutter*2 0; }

    .Service & {
        @extend %center;
        padding-bottom: 40px;
    }
}
.title {
    font-size: em(32);
    letter-spacing: 2px;
    text-align: center;
    background: url(#{$img-path}/title_bg.png) center bottom no-repeat;
    padding-bottom: $gutter+10;
    margin-bottom: $gutter*2;

    // 企業展望
    .Future & {
        margin-top: $gutter;
    }
}
p {
    margin-bottom: $spacer;
    font-size: em(15);
}

// == 2欄設計
// 主欄
.content {
    @include cols-reset($first: true);
    @include make-col-span(9,12);
}

// 側欄
.sidebar {
    @include cols-reset($theme: right, $last: true);
    @include make-col-span(3,12);
    float: right;
    text-align: left;

    background: url(#{$img-path}/sidebar_bg.png) 15px 0 no-repeat;

    h4 {
        margin-left: 25px;
        margin-bottom: 20px;
    }

    a {
        display: block;
        font-size: em(19);
        line-height: 1.2;
        padding: 12px 0;
        padding-left: 25px;
        background: url(#{$img-path}/sidebar_line.png) 0 0 no-repeat;
    }
}


// == about
.AboutUs {
    th {
        width: 16%;
        text-align: right;

        &:nth-of-type(n+2) {
            border-left: $tb-border;
        }
    }
    td {
        &:nth-of-type(n+2) {
            width: 34%;
        }
    }
    .icon-crown {
        background-position: 0 -52px;
    }

    #p1 {
        article:first-of-type {
            background: url(#{$img-path}/AboutUs/pic.png) center bottom no-repeat;
            padding-bottom: 250px;
        }
    }
    #p4 {
        position: relative;
        padding: 0;
    }
}
// 聯絡我們
.contacts {
    @include absolute(right 0 top 0 bottom 0);
    background: rgba($success,.92);
    color: #E3DED5;
    padding: $gutter*2;

    li {
        margin: 10px 0;

        &:first-of-type {
            font-size: em(22);
            color: lighten($brand-secondary,60);
        }
    }
}
#map-canvas {
    height: 380px;
}

// == 專業服務
.bg-pic {
    background-position: right bottom;
    background-repeat: no-repeat;
}
.Service_pic1 { background-image: url(#{$img-path}/Service/p1/pic.png); }
.Service_pic2 { background-image: url(#{$img-path}/Service/p1/pic_2.png); }
.doing {
    font-size: em(27);
    line-height: 306px;
    background: url(#{$img-path}/Service/doing_bg.png) center center no-repeat;
}


// == 人力招募
.ContactUs {
    text-align: center;

    .col-1-3 {
        font-size: em(29);
        line-height: 185px;
        margin: $spacer;
        border: $hr-border;
        background-position: 96% 90%;
        background-repeat: no-repeat;

        &:first-of-type { background-image: url(#{$img-path}/ContactUs/icon.gif); }
        &:last-of-type { background-image: url(#{$img-path}/ContactUs/icon2.gif); }
    }
}