@charset "UTF-8";

// var 變數，需放在 @import "helper/var" 之上才能覆蓋掉
// ------------------------------------------------------------
$page:               true;
$states:             true;

$font-size-h2:       55px;
$font-size-h3:       32px;

$figure-align:       center;
$figure-width:       ((100%/3) - 1%);
$figure-inline:      false;
$figure-img-height:  115px;
$figure-title-size:  18px;

// import
// ------------------------------------------------------------
@import "_client/settings"; // 覆蓋掉下面的變數

@import "helper/function";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";
@import "base/util";
@import "base/table";

@import "_client/layout";
@import "_client/main";

@import "_client/module/breadcrumb";
@import "_client/module/label";


// main
// ------------------------------------------------------------
#main {
    img { max-width: 100%; }
    section { padding: $gutter*2 0; }
}
.title {
    font-size: em(32);
    letter-spacing: 2px;
    text-align: center;
    background: url(#{$img-path}/title_bg.png) center bottom no-repeat;
    padding-bottom: $gutter+10;
    margin-bottom: $gutter*2;

    // 企業展望
    .Future & {
        margin-top: $gutter;
    }
}

// 2欄設計
.content {
    @include cols-reset($first: true, $last: true);
    @include make-col-span(10,12);
}

// 左欄
.sidebar {
    @include cols-reset($first: true);
    @include make-col-span(2,12);
}

p {
    margin-bottom: $spacer;
    font-size: em(15);
}

// == about
.AboutUs {
    th {
        width: 16%;
        text-align: right;

        &:nth-of-type(n+2) {
            border-left: $tb-border;
        }
    }
    td {
        &:nth-of-type(n+2) {
            width: 34%;
        }
    }
    .icon-crown {
        background-position: 0 -52px;
    }

    #p1 {
        article:first-of-type {
            background: url(#{$img-path}/AboutUs/pic.png) center bottom no-repeat;
            padding-bottom: 250px;
        }
    }
    #p4 {
        position: relative;
        padding: 0;
    }
}
// 聯絡我們
.contacts {
    @include absolute(right 0 top 0 bottom 0);
    background: rgba(#42626E,.92);
    color: #E3DED5;
    padding: $gutter*2;

    li {
        margin: 10px 0;

        &:first-of-type {
            font-size: em(22);
            color: lighten($brand-secondary,60);
        }
    }
}
#map-canvas {
    height: 380px;
}

// == 企業展望
