
@{
    ViewBag.Title = "企業活動,社區營造活動,社區公益活動,獅子會會長交接,獅子會輪椅網球公開賽,熱心協助三軍總醫院而獲頒感謝狀";
    ViewBag.BodyClass = "Activity";
    ViewBag.Target = "企業活動";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="wrap">
    <div class="col-4">
        <h3 class="title">社區營造活動</h3>
        <ol class="list-pic">
            <li><img src="~/Content/images/Activity/pic.jpg"><span>社區營造</span></li>
            <li><img src="~/Content/images/Activity/pic2.jpg"><span>社區營造</span></li>
        </ol>
    </div>
    <div class="col-8 text-left">
        <h3 class="title">社會公益活動</h3>
        <ol class="list-pic">
            <li><img src="~/Content/images/Activity/pic3.jpg"><span>獅子會會長交接</span></li>
            <li><img src="~/Content/images/Activity/pic4.jpg"><span>獅子會輪椅網球公開賽</span></li>
            <li><img src="~/Content/images/Activity/pic5.jpg"><span>熱心協助三軍總醫院而獲頒感謝狀</span></li>
        </ol>
    </div>
</section>