
@{
    ViewBag.Title = "最新產品";
    ViewBag.BodyClass = "Products";
    ViewBag.Target = "最新產品";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Products">產品介紹</a></li>
}

@* 每個分類的最新產品 2 則 *@
<section class="col-6 col-sm-12 catalog-new">
    <header class="title">
        <h2>開關類 <small>(50)</small></h2>
        <a href="~/Products/list" class="btn btn-primary">ALL</a>
    </header>

    <figure class="product-list">
        <img src="~/Content/images/Products/list.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            <small>偵測開關Detect Switch</small>
            <h4>TU SERIES 1</h4>
        </figcaption>
    </figure>

    <figure class="product-list">
        <img src="~/Content/images/Products/list.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            <small>偵測開關Detect Switch</small>
            <h4>TU SERIES 1</h4>
        </figcaption>
    </figure>
</section>

<section class="col-6 col-sm-12 catalog-new">
    <header class="title">
        <h2>插座類 <small>(50)</small></h2>
        <a href="~/Products/list" class="btn btn-primary">ALL</a>
    </header>

    <figure class="product-list">
        <img src="~/Content/images/Products/list.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            <small>偵測開關Detect Switch</small>
            <h4>TU SERIES 1</h4>
        </figcaption>
    </figure>

    <figure class="product-list">
        <img src="~/Content/images/Products/list.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            <small>偵測開關Detect Switch</small>
            <h4>TU SERIES 1</h4>
        </figcaption>
    </figure>
</section>

<section class="col-6 col-sm-12 catalog-new">
    <header class="title">
        <h2>連接器類 <small>(50)</small></h2>
        <a href="~/Products/list" class="btn btn-primary">ALL</a>
    </header>

    <figure class="product-list">
        <img src="~/Content/images/Products/list.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            <small>偵測開關Detect Switch</small>
            <h4>TU SERIES 1</h4>
        </figcaption>
    </figure>

    <figure class="product-list">
        <img src="~/Content/images/Products/list.jpg">
        <a href="~/Products/content">MORE</a>
        <figcaption>
            <small>偵測開關Detect Switch</small>
            <h4>TU SERIES 1</h4>
        </figcaption>
    </figure>
</section>

