@charset "UTF-8";

@import "../vendor/normalize"; // 重置復位
@import "../vendor/print";  // 列印樣式

/*      basic elements
-----------------------------------------------------------------------*/
// 自定Reset
h1,h2,h3,h4,h5,h6,p,figure,form,blockquote{margin:0;}
ul,ol,li,dl,dt,dd{margin:0;padding:0;}
button{outline:none;border:none;}

html {
    box-sizing: border-box;
    font-size: $font-size-root;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@at-root {
    @-moz-viewport      { width: device-width; }
    @-ms-viewport       { width: device-width; }
    @-o-viewport        { width: device-width; }
    @-webkit-viewport   { width: device-width; }
    @viewport           { width: device-width; }
}

body {
    font-family: $font-sp;
    line-height: $line-height-base;
    color: $body-color;
    background: $body-bg;

    // 垂直滿版
    // @if $lte7 {
    //     _height: 100%;
    // }
    // min-height: 100%;

    // 手機版選單動畫
    // position: relative;
    // overflow-x: hidden;
    // left: 0;
    // @include prefix(transition, left .35s);
}

a {
    color: $link-color;
    text-decoration: none;
    blur: expression(this.onFocus=this.blur()); // 清除虛線框

    @include transition(color .35s, background .3s);

    &:hover, &:active, &.active { color: $link-hover-color; }
    &:focus {
        // @include tab-focus(thin dotted $info);
        outline: none;
    }
}

img {
    vertical-align: middle;
    // @include mq-max(break(tablet, -1)) { min-width: 100%; }
}

// @font-face {
//     font-family: 'NeutraText';
//     src: url('../font/Neutraface2Text-Book.eot'); // IE9
//     src: url('../font/Neutraface2Text-Book.eot?#iefix') format('embedded-opentype'), // IE6-IE8
//          local('Neutraface2Text-Book'),
//          url('../font/Neutraface2Text-Book.otf') format("opentype");
// }

.font-sp { font-family: $font-family-sp; }



// Headings
// -----------------------------------------------
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    color: $heading-color;
    margin-bottom: em($line-height-computed / 2);

    small {
        font-weight: normal;
    }
}

@for $i from 1 through 6 {
    $headings: $font-size-h1 $font-size-h2 $font-size-h3 $font-size-h4 $font-size-h5 $font-size-h6;

    h#{$i} { font-size: em(nth($headings, $i)); }
}

// Body text
// -----------------------------------------------
p {
    margin: 0 0 em($line-height-computed / 2);
    line-height: 1.5;
}

strong {
    color: $brand-secondary;
}

// 副標題 Ex: (12px small font / 14px base font) * 100% = about 85%
small {
    // font-size: floor((100% * $font-size-sm / $font-size-base));
}

// 螢光筆註記
mark {
    background-color: lighten($warning, 30%);
    padding: .2em;
}

hr, %hr {
    height: 0;

    border-top: 1px solid #ccc;
    border-bottom: 1px solid #f9f9f9;
}
%hr { height: 2px; }

hr {
    // margin: 35px 0;
    // margin-top:    $line-height-computed;
    // margin-bottom: $line-height-computed;
    // border: 0;
    // border-top: 1px solid #EAEFDE;
}

// Lists
// -----------------------------------------------
// ul, ol {
//     margin-bottom: ($line-height-computed / 2);

//     ul, ol { margin-bottom: 0; }
// }

// address {
//     margin-bottom: $line-height-computed;
//     font-style: normal;
//     line-height: $line-height-base;
// }