@charset "UTF-8";

// var
// -----------------------------------------------------------------
$table-padding:             13px 14px !default;
$font-size-caption:         22px !default;
$font-size-th:              17px !default;
$font-size-td:              15px !default;

$table-color: (
    table-color:            $body-color,
    table-bg:               $brand-gray,
    table-bg-accent:        $brand-gray,
    table-bg-hover:         lighten($info, 34%),
    table-bg-active:        #D6FAFC,
    table-border:           darken($brand-gray, 5%),
    table-th:               #000,
    table-td:               $body-color,
    table-caption:          darken($brand-primary,5%)
);

// 合併配色
$color: map-extend($color, $table-color);


// 函數程式
// -----------------------------------------------------------------

// table情景色設定
// @mixin table-row-variant($state, $background) {
//     .table {
//         .#{$state},
//         .#{$state} td,
//         .#{$state} th {
//             background-color: $background;
//         }
//     }

//     .table-hover {
//         .#{$state}:hover,
//         .#{$state}:hover td,
//         .#{$state}:hover th,
//         tr:hover .#{$state} {
//             background-color: darken($background, 5%);
//         }
//     }
// }


/*      table
-----------------------------------------------------------------------*/
table {
    border-top: 1px solid color(table-border);

    & + & {
        margin-top: $line-height-computed;
    }
}
th, td {
    // color: color(table-td);
    font-size: em($font-size-td);
    line-height: $line-height-base;

    padding: $table-padding;

    border-bottom: 1px solid color(table-border);
    border-left: 1px solid color(table-border);

    &:first-child { border-left: none;}
}

th {
    background: color(table-bg);
    color: color(table-th);
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
}
td {
    text-align: left;
    vertical-align: top;
    line-height: 1.5;

    &:first-child {
        color: color(table-th);
        font-size: em(15px);
        font-weight: bold;
    }
}

// 滑鼠移過變色
// tr:hover {
//     background-color: color(table-bg-hover);
// }

caption {
    padding-top: nth($table-padding, 1);
    padding-bottom: nth($table-padding, 1);

    color: color(table-caption);
    font-size: em($font-size-caption);
    // line-height: $line-height-sm;
    // text-align: left;
}

// 固定欄寬度
table.fixed {
    table-layout: fixed;
    word-wrap: break-word;
    word-break: break-all;
}

.table-spacing {
    border-collapse: separate;
    border-top: none;
    border-spacing: 10px 0;

    th, td { border-left: none; }
    td:first-child { text-align: right; }
    tbody { border-spacing: 0; }
}

// 斑馬紋條列式表格
// tr:nth-of-type(odd) {
//     background-color: color(table-bg-accent);
// }

// 響應式表格
//
// '.table-rwd' < 768 時會出現水平卷軸

.table-rwd {
    overflow-x: auto;
    min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)
    max-width: $max-width;

    table { width: 100%; }

    @include mq-max(tablet) {
        width: 100%;
        margin-bottom: ($line-height-computed * 0.75);
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        table {
            margin-bottom: 0;
            th, td {
                white-space: nowrap;
            }
        }
    }
}

