@charset "UTF-8";

// %pseudo {
//     content: '';
// }
%clearfix {
    @include el(after, table) {
        clear: both;
    }
    @if $lte7 { zoom: 1 }
}
%circle { border-radius: 50%; } // 圓形

%full { width: 100%; max-width: 100%; }
%half { width: percentage(1/2) - 0.5; }

%text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

%list-unstyled { list-style: none; }
%list-inline {
    @extend %list-unstyled;

    // margin-left: -5px;

    > li {
        display: inline-block;
        // margin-right: -4px;
        // padding-left: 5px;
        // padding-right: 5px;
    }
}

%align-middle {
    display: inline-block;
    vertical-align: middle;
}

// %align-top {
// }

// grid
// %col-reset {
//     // @extend %align-top;
//     display: inline-block;
//     vertical-align: top;
//     width: 100%;

//     // inline-block模式時 刪除多出間距
//     margin-right: -4px;

//     @if $lte7 {
//         *display: inline;
//         zoom: 1
//     }
//     // display: inline-block;
//     // vertical-align: top;
//     // font-size: 16px;
// }

%effect-all {
    @include transition(all .35s);
}

