@{
    ViewBag.Title = "首頁:期盼提升公共安全,周到服務社區家庭,回饋社會大眾,榮獲ISO9001品質認證";
    ViewBag.IsFirstPage = true;
    ViewBag.BodyClass = "index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<section class="about">
    <header>關於英騰</header>
    <ul class="list-inline">
        <li><em>誠信</em>英騰堅守信譽與誠信</li>
        <li><em>創新</em>英騰激勵自我不斷創新</li>
        <li><em>關懷</em>英騰關懷人文深耕在地</li>
        <li><em>服務</em>英騰始終堅信服務至上</li>
    </ul>
</section>

<section class="intro">
    <header class="font-sp">NO BEST, BUT BETTER</header>

    <div class="wrap text-left">
        @* <img src="~/Content/images/index/pic.png" alt="總裁期許"> *@

        <h3>『家』乃人生活之根本，幸福的源頭</h3>
        <p>結合全方位的監控系統，一流的無線傳輸設備，24小時的緊急求救系統</p>
        <p>期盼提升公共安全，周到服務社區家庭，回饋社會大眾</p>
        <p>榮獲ISO9001品質認證後仍不斷追求卓越，英騰用心守護您的家。</p>
        <cite class="sign">莊麗鳳</cite>
        <a href="~/Future" class="btn font-sp">MORE</a>
    </div>
</section>