@charset "UTF-8";

// var 變數，需放在 @import "helper/var" 之上才能覆蓋掉
// ------------------------------------------------------------
$index:              true;

$img-path2:          '../images/index';
$content-spacing:    0;
$header-bg:          false;
$banner-height:      345px;

$body-bg:            #DBDCDC url(../images/bg.gif) repeat-x 0 103px;
$font-size-h2:       41px;


$figure-width:       false;
// $figure-img-height:  200px;
$figure-inline:      true;
$figure-title-size:  21px;
$figure-p-size:      19px;
$figure-p-color:     #fff;
// $figure-p-pos:       bottom 0 left 0;



// import
// ------------------------------------------------------------
@import "_client/settings"; // 覆蓋掉下面的變數

@import "helper/function";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";
@import "base/util";
@import "base/form";

@import "_client/layout";
@import "_client/main";


// == main
main {
    background: $brand-gray;
    padding: 50px 0 80px;
}

.icon-chevron-thin-left,
.icon-chevron-thin-right {
    @include absolute(top 53%);
    font-size: em(50px);
    color: #A9A7AC;
    opacity: .5;
    margin-top: -45px;
    cursor: pointer;
    z-index: 10;

    &:hover, &:active {
        color: $brand-secondary;
    }

    &.swiper-button-disabled {
        opacity: 0;
        cursor: auto;
        pointer-events: none;
    }
}
.icon-chevron-thin-left {
    left: 4.5%;
}
.icon-chevron-thin-right {
    right: 4.5%;
}