@charset "UTF-8";

// icon dot
@mixin icon-dot($direction, $size, $color, $pos: false) {
    @include el(before) {
        @include circle($size, $bg-color: $color);

        @if $pos {
            @include absolute($pos);
        }
    }
    @if $pos {
        position: relative;
    }
    @if $direction {
        padding-#{$direction}: $size * 3;
    }
}

// icon arrow
@mixin icon-arrow($direction, $size, $color, $pos: false) {
    @include el(before) {
        @include arrow($direction, $size, $color: $color);

        @if $pos {
            @include absolute($pos);
        }
    }
    @if $pos {
        position: relative;
    }
}

// icon arrow
@mixin icon-square($direction, $size, $color, $pos: false) {
    @include el(before) {
        background: $color;
        @include size($size);
        @if $pos {
            @include absolute($pos);
        }
    }
    @if $pos {
        position: relative;
    }
    @if $direction {
        padding-#{$direction}: $size * 3;
    }
}