@charset "UTF-8";

@import "../vendor/normalize"; // 重置復位
@import "../vendor/print";  // 列印樣式

/*      basic elements
-----------------------------------------------------------------------*/
// 自定Reset
h1,h2,h3,h4,h5,h6,p,figure,form,blockquote{margin:0;}
ul,ol,li,dl,dt,dd{margin:0;padding:0;}
button{outline:none;border:none;}

html {
    box-sizing: border-box;
    font-size: $font-size-root;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@at-root {
    @-moz-viewport      { width: device-width; }
    @-ms-viewport       { width: device-width; }
    @-o-viewport        { width: device-width; }
    @-webkit-viewport   { width: device-width; }
    @viewport           { width: device-width; }
}

body {
    font-family: $font-family-base;
    line-height: $line-height;
    color: $body-color;
    background: $body-bg;

    // 字體平滑 for chrome
    -webkit-font-smoothing: antialiased;
}

// Credit: https://github.com/suitcss/base
[tabindex="-1"]:focus {
    outline: none !important;
}

a {
    color: $link-color;
    @if $link-decoration { text-decoration: $link-decoration; }
    blur: expression(this.onFocus=this.blur()); // 清除虛線框

    @include transition(color .35s, background .3s);

    &:hover, &:active, &.active { color: $link-hover-color; }
    &:focus {
        // @include tab-focus(thin dotted $info);
        outline: none;
    }
}

img {
    vertical-align: middle;
}

@font-face {
    font-family: 'Champagne & Limousines';
    src: url('../font/Champagne&Limousines.eot'); // IE9
    src: url('../font/Champagne&Limousines.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         local('Champagne & Limousines'),
         url('../font/Champagne&Limousines.otf') format("opentype");
}

.font-sp { font-family: $font-family-sp; }



// Headings
// -----------------------------------------------
h1, h2, h3, h4, h5, h6 {
    @if $headings-margin-bottom { margin-bottom: $headings-margin-bottom; }
    @if $headings-font-family   { font-family: $headings-font-family; }
    @if $headings-font-weight   { font-weight: $headings-font-weight; }
    @if $headings-line-height   { line-height: $headings-line-height; }
    @if $headings-color         { color: $headings-color; }
}

@for $i from 1 through 6 {
    $headings: $font-size-h1 $font-size-h2 $font-size-h3 $font-size-h4 $font-size-h5 $font-size-h6;

    h#{$i} { font-size: em(nth($headings, $i)); }
}

.lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}

// Body text
// -----------------------------------------------
strong {
    font-size: em(17px);
    color: $brand-primary;
}

small {
    font-size: 80%;
    font-weight: normal;
}

// 螢光筆註記
mark {
    background-color: lighten($warning, 30%);
    padding: .2em;
}

hr {
    // margin-top: $spacer-y;
    // margin-bottom: $spacer-y;
    border: 0;
    // border-top: $hr-border-width solid $hr-border-color;
}
