@charset "UTF-8";

// var
// -----------------------------------------------------------------
$padding-vertical:          2px 5px 1px;
$padding-horizontal:        4px 10px 3px;
$border-radius:             5px 15px 3px !default;
$input-radius-base: nth($border-radius,1) !default;
// $input-radius-large: nth($border-radius,2) !default;
// $input-radius-small: nth($border-radius,3) !default;
$input-height-base: $line-height-computed + (nth($padding-vertical,1) * 2) !default;
// $input-height-large: ceil($font-size-lg * $line-height-lg) + (nth($padding-vertical,2) * 2) !default;
// $input-height-small: floor($font-size-sm * $line-height-sm) + (nth($padding-vertical,3) * 2) !default;

$form-group-margin-bottom:  10px !default; // '.form-group' 邊距

$form-color:(
    input-bg:               #fff,
    input-bg-disabled:      $gray-lighter,
    input-color:            $gray,
    input-border:           #ccc,
    input-border-focus:     lighten($brand-primary,30%),
    input-placeholder:      #C7CBBD,
    input-addon-bg:         $gray-lighter,
    input-addon-border:     #ccc
);

$input-radius:              5px !default;
$input-height:              38px !default;

// 合併配色
$color: map-extend($color, $form-color);


// 函數程式
// -----------------------------------------------------------------
// TEXT INPUT TYPES
@function text-inputs( $types: all, $selector: input ) {
    $return: ();
    $all-text-types: (text, password, date, datetime, datetime-local, month, week, email, number, search, tel, time, url, color, textarea);
    $all-text-input-types: (text, password, date, datetime, datetime-local, month, week, email, number, search, tel, time, url, color);

    @if $types == all { $types: $all-text-types; }
    @if $types == input { $types: $all-text-input-types; }

    @each $type in $types {
        @if $type == textarea {
            @if $selector == input {
                $return: append($return, unquote('#{$type}'), comma)
            } @else {
                $return: append($return, unquote('#{$type}#{$selector}'), comma)
            }
        } @else {
            $return: append($return, unquote('#{$selector}[type="#{$type}"]'), comma)
        }
    }
    @return $return;
}

// 聚焦樣式(WebKit)
@mixin form-control-focus($color: color(input-border-focus)) {
    $color-rgba: rgba(red($color), green($color), blue($color), .6);
    &:focus {
        border-color: $color;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba;
    }
}

//  輸入欄未輸入資料時顯示的文字顏色
@mixin placeholder($color: color(input-placeholder)) {
    &::-moz-placeholder, // Firefox
    &:-ms-input-placeholder,
    &::-webkit-input-placeholder { color: $color; }
    &::-moz-placeholder { opacity: 1; }
}


// Forms
// -----------------------------------------------------------------

// == Normalize
legend {
    display: block;
    width: 100%;
    margin-bottom: $line-height-computed;
    font-size: em($font-size-base * 1.5);
    line-height: inherit;
    color: color(legend-color);
    border-bottom: 1px solid color(legend-border);
}

label {
    display: inline-block;
    max-width: 100%; // 強制 IE8 能容納長元素
    margin-bottom: 5px;
    font-weight: bold;

    &[class*="col-"] {margin-bottom:0;}
}

#{text-inputs(radio checkbox)} {
    margin-top: 4px;
    margin-top: 1px \9; // IE8-9
    line-height: normal;
}
#{text-inputs(search)} { box-sizing: border-box; }
#{text-inputs(file range)} { display: block; }
#{text-inputs(range)} { width: 100%; }
#{text-inputs(file radio checkbox)} { &:focus { @include tab-focus; } }
select[multiple], select[size] { height: auto; }
button { background: none; border: none; }

// 調整輸出元素
output {
    display: block;
    padding-top: (nth($padding-vertical,1) + 1);
    font-size: em($font-size-base);
    line-height: $line-height-base;
    color: color(input-color);
}

// == styles
%form-element {
    display: block;
    width: 100%;

    color: color(input-color);
    // background-color: color(input-bg);
    // background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid color(input-border);
    border-radius: $input-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding: nth($padding-vertical,1) nth($padding-horizontal,2);

    @include placeholder;
    @include form-control-focus;

    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        background-color: color(input-bg-disabled);
        opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
    }

    &[disabled],
    fieldset[disabled] & {
        cursor: $cursor-disabled;
    }
}

%form-element-inline {
    margin-left: $gutter/2;
    font-weight: normal;

    &:first-child { margin-left: 0; }
    @include mq(phone) { display:block; margin-left:0; }
}

input:not([type]), #{text-inputs(all)} {
    @extend %form-element;
}

#{text-inputs(input)} {
    height: $input-height; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
}

// iOS 的時間欄位垂直對齊 - safari
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #{text-inputs(date time datetime-local month)} {
        line-height: $input-height;

        // &.input-sm,
        // .input-group-sm & {
        //     line-height: $input-height-small;
        // }

        // &.input-lg,
        // .input-group-lg & {
        //     line-height: $input-height-large;
        // }
    }
}

// 禁用元素的滑鼠樣式(含label)
*[disabled], .disabled { cursor: $cursor-disabled; }

// == checkbox
// #{text-inputs(checkbox)} {
//     position: absolute;
//     margin-left: -9999px;
//     visibility: hidden;
// }
// #{text-inputs(checkbox)} + label {
//     // 共用設定
//     display: block;
//     position: relative;
//     cursor: pointer; cursor:hand;
//     outline: none;
//     user-select: none;

//     // 各別設定(換圖及調大小)
//     background-attachment: fixed;
//     background: #e5e5e5 url(#{$img-path}/Products/check.png) center 50px no-repeat;
//     border: 1px solid #fff;
//     padding: 5px 10px;
//     width: 34px; height: 34px;
//     border-radius: 5px;
//     margin: auto;
// }
// #{text-inputs(checkbox)}:hover + label {
//     background-position: center 7px;
// }
// #{text-inputs(checkbox)}:checked + label {
//     background-position: center -48px;
// }
// #{text-inputs(number)} {
//     width: 80px;
//     margin: auto;
// }