
@{
    ViewBag.Title = "專業服務:社區營造 社區清潔 社區維護 消防演練 社區管理 駐衛保全 特勤保全 套房出租 商辦出租";
    ViewBag.BodyClass = "Service";
    ViewBag.Target = "專業服務";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}

@Html.Partial("sidebar")

<section class="content">

    <article id="tab-1" class="tab-content">
        <h3 class="title">公寓大廈物業管理</h3>
        <p class="text-center">
            <span class="label">社區營造</span>
            <span class="label">社區清潔</span>
            <span class="label">社區維護</span>
            <span class="label">消防演練</span>
            <span class="label">社區管理</span>
        </p>
        <dl class="col-3 list-bg">
            <dt>生活服務 LIFE</dt>
            <dd>
                行政事務管理<br>
                財務管理<br>
                各項費用代收<br>
                各項費用代付<br>
                會議召開<br>
                決議事項執行<br>
                各項會報<br>
                客訴服務<br>
                遷入/出服務<br>
                節慶活動服務<br>
                法律諮詢
            </dd>
        </dl>
        <dl class="col-3 list-bg">
            <dt>清潔服務 CLEAN</dt>
            <dd>
                交屋清潔<br>
                裝潢後清潔<br>
                社區清潔規劃<br>
                公共空間清潔<br>
                石材養護晶化<br>
                水塔清理<br>
                園藝綠化<br>
                廢棄物處理<br>
                病媒蟲防治<br>
                常駐清潔派遣
            </dd>
        </dl>
        <dl class="col-3 list-bg">
            <dt>安全服務 SECURITY</dt>
            <dd>
                門禁管制<br>
                訪客控管<br>
                交通指揮<br>
                停車場管理<br>
                GPS電子巡更<br>
                遠端監控<br>
                異常狀況處理<br>
                區域防護部屬<br>
                災害防治演練<br>
                24H緊急系統
            </dd>
        </dl>
        <dl class="col-3 list-bg">
            <dt>機械服務 M&E</dt>
            <dd>
                公設機電查核<br>
                公設機電驗收<br>
                設備巡檢養護<br>
                駐點派遣服務<br>
                年度消防安檢<br>
                發電機養護<br>
                汙水系統養護<br>
                給水系統養護<br>
                排水系統養護<br>
                電梯安全維護<br>
                公設衛生設備<br>
                居家修繕服務
            </dd>
        </dl>
        <h4>總幹事與大樓管理者職前教育訓練</h4>
        <img src="~/Content/images/Service/p1/pic9.jpg" alt="教育訓練圖">
        <figure class="col-6 pic-s">
            <img src="~/Content/images/Service/p1/pic10.jpg" alt="社區檔案統一歸檔管理">
            <figcaption>
                社區檔案統一歸檔管理
                <p>大樓資料分類歸檔，行政人員定期建立資料庫。</p>
            </figcaption>
        </figure>
        <figure class="col-6 pic-s">
            <img src="~/Content/images/Service/p1/pic11.jpg" alt="公設使用登記">
            <figcaption>
                公設使用登記
                <p>櫃台人員著實登記住戶公設使用狀況，確保公平無私。</p>
            </figcaption>
        </figure>
        <figure class="col-4 pic-s">
            <img src="~/Content/images/Service/p1/pic12.jpg" alt="值班人員業務交接">
            <figcaption>
                值班人員業務交接
                <p>值班人員換班交接，業務交代詳細。</p>
            </figcaption>
        </figure>
        <figure class="col-4 pic-s">
            <img src="~/Content/images/Service/p1/pic13.jpg" alt="認真效率的行政作業"> @* 合2張圖 *@
            <figcaption>有效率的行政作業</figcaption>
        </figure>
        @* <figure class="col-4 pic-s">
            <img src="~/Content/images/Service/p1/pic.jpg" alt="社區高壓清洗">
            <figcaption>社區高壓清洗</figcaption>
        </figure>
        <figure class="col-4 pic-s">
            <img src="~/Content/images/Service/p1/pic2.jpg" alt="社區高壓清洗">
            <figcaption>社區園藝維護</figcaption>
        </figure>
        <figure class="col-4 pic-s">
            <img src="~/Content/images/Service/p1/pic3.jpg" alt="社區高壓清洗">
            <figcaption>社區綠化</figcaption>
        </figure>
        <figure class="col-4 pic-l">
            <img src="~/Content/images/Service/p1/pic4.jpg" alt="大理石晶化">
            <figcaption>大理石晶化</figcaption>
        </figure>
        <figure class="col-4 pic-s">
            <img src="~/Content/images/Service/p1/pic5.jpg" alt="花崗石晶化">
            <figcaption>花崗石晶化</figcaption>
        </figure>
        <figure class="col-4 pic-s">
            <img src="~/Content/images/Service/p1/pic6.jpg" alt="清潔效果">
            <figcaption>清潔效果</figcaption>
        </figure> *@
        <figure class="col-4 slide">
            <img src="~/Content/images/Service/p1/pic7.jpg" alt="定期消防演練">
            <figcaption>定期消防演練</figcaption>
        </figure>
        <figure class="col-4 slide">
            <img src="~/Content/images/Service/p1/pic8.jpg" alt="社區營造">
            <figcaption>社區營造</figcaption>
        </figure>
    </article>

    <article id="tab-2" class="tab-content text-left">
        <h3 class="title">保全公司<br><small>(駐衛保全、特勤保全、系統保全)</small></h3>
        <dl class="col-6 list-bg">
            <dt>一般駐衛保全</dt>
            <dd>
                有一致化的專業訓練及標準配備<br>
                落實訪客登記，嚴格把關進出社區人員<br>
                加裝指紋辨識系統，讓社區多一層防護<br>
                24小時監控系統，緊急事件通報，保全人員及時應變處理
            </dd>
        </dl>
        <dl class="col-6 list-bg">
            <dt>特勤保全</dt>
            <dd>
                飯店式社區經營管理暨安全維護<br>
                人身保全、重要人物貼身保全<br>
                工地保全暨安全維護管理<br>
                辦公處所保全暨安全維護管理<br>
                重要會議保全暨安全維護管理<br>
                機場隨扈接送保全暨安全維護管理<br>
                銀行提款保全暨安全維護管理<br>
                貴重物品運送保全<br>
                學童上下學保全<br>
                出國洽商旅遊保全<br>
                其他特種保全服務
            </dd>
        </dl>
        <h4 class="clear">保全值勤</h4>
        <ol class="list-pic">
            <li><img src="~/Content/images/Service/p2/pic.jpg"></li>
            <li><img src="~/Content/images/Service/p2/pic_2.jpg"></li>
            <li><img src="~/Content/images/Service/p2/pic_3.jpg"></li>
            <li><img src="~/Content/images/Service/p2/pic_4.jpg"></li>
            <li><img src="~/Content/images/Service/p2/pic_5.jpg"></li>
        </ol>
        <h4 class="clear">保全訓練</h4>
        <ol class="list-pic">
            <li><img src="~/Content/images/Service/p2/pic2.jpg"></li>
            <li><img src="~/Content/images/Service/p2/pic2_2.jpg"></li>
            <li><img src="~/Content/images/Service/p2/pic2_3.jpg"></li>
            <li><img src="~/Content/images/Service/p2/pic2_4.jpg"></li>
            <li><img src="~/Content/images/Service/p2/pic2_5.jpg"></li>
            <li><img src="~/Content/images/Service/p2/pic2_6.jpg"></li>
            <li><img src="~/Content/images/Service/p2/pic2_7.jpg"></li>
        </ol>
        <h4 class="clear">保全設備</h4>
        <ol class="list-pic">
            <li><img src="~/Content/images/Service/p2/pic3.jpg"><span>指紋辨識系統-多層把關</span></li>
            <li><img src="~/Content/images/Service/p2/pic3_2.jpg"><span>隨身設備</span></li>
            <li><img src="~/Content/images/Service/p2/pic3_3.jpg"><span>基隆人巡邏機</span></li>
            <li><img src="~/Content/images/Service/p2/pic3_4.jpg"><span>摩納哥對講機</span></li>
        </ol>
        <h4 class="clear">特勤保全</h4>
        <ol class="list-pic">
            <li><img src="~/Content/images/Service/p2/pic4.jpg"></li>
            <li><img src="~/Content/images/Service/p2/pic4_2.jpg"></li>
            <li><img src="~/Content/images/Service/p2/pic4_3.jpg"></li>
        </ol>
    </article>

    <article id="tab-3" class="tab-content">
        <h3 class="title">產物租賃</h3>
        <p class="text-center">
            <span class="label">專業產物租賃</span>
            <span class="label">套房出租</span>
            <span class="label">商辦出租</span>
        </p>
    </article>

    <article id="tab-4" class="tab-content">
        <h3 class="title">不動產管理買賣</h3>
        <ol class="list-pic">
            <li><img src="~/Content/images/Service/p4/pic.jpg"><span>專業認證</span></li>
            <li><img src="~/Content/images/Service/p4/pic2.jpg"><span>精選建設案場</span></li>
            @* <li><img src="~/Content/images/Service/p4/pic_3.jpg"><span></span></li> *@
        </ol>
    </article>

    <article id="tab-5" class="tab-content">
        <h3 class="title">停車場管理經營</h3>
        <p>保全於車道口指揮交通，協助社區車輛進出。</p>
        <figure class="col-4 pic-s">
            <img src="~/Content/images/Service/p5/pic.jpg" alt="停車場打磨清洗">
            <figcaption>停車場打磨清洗</figcaption>
        </figure>
        <figure class="col-4 pic-s">
            <img src="~/Content/images/Service/p5/pic2.jpg" alt="定期消毒">
            <figcaption>定期消毒</figcaption>
        </figure>
        <figure class="col-4 pic-s">
            <img src="~/Content/images/Service/p5/pic3.jpg" alt="管線除塵">
            <figcaption>管線除塵</figcaption>
        </figure>
        <figure class="col-4 pic-s">
            <img src="~/Content/images/Service/p5/pic4.jpg" alt="地面清洗">
            <figcaption>地面清洗</figcaption>
        </figure>
        <figure class="col-4 pic-s">
            <img src="~/Content/images/Service/p5/pic5.jpg" alt="專人引導車輛進出">
            <figcaption>專人引導車輛進出</figcaption>
        </figure>
        <figure class="col-4 pic-s">
            <img src="~/Content/images/Service/p5/pic6.jpg" alt="停車場維護">
            <figcaption>停車場維護</figcaption>
        </figure>
    </article>

    <article id="tab-6" class="tab-content">
        <h3 class="title">開發建設</h3>
        <div class="col-3 pd-0">
            <figure>
                <img src="~/Content/images/Service/p6/pic.jpg" alt="工地安全">
                <figcaption>工地安全</figcaption>
            </figure>
            <figure>
                <img src="~/Content/images/Service/p6/pic2.jpg" alt="扎實建材">
                <figcaption>扎實建材</figcaption>
            </figure>
            <figure>
                <img src="~/Content/images/Service/p6/pic3.jpg" alt="明亮採光">
                <figcaption>明亮採光</figcaption>
            </figure>
        </div>
        <div class="col-9 pd-0">
            <figure class="col-6 pd-0">
                <img src="~/Content/images/Service/p6/pic4.jpg" alt="建設動土典禮">
                <figcaption>建設動土典禮</figcaption>
            </figure>
            <figure class="col-6 pd-0">
                <img src="~/Content/images/Service/p6/pic5.jpg" alt="英明總裁">
                <figcaption>英明總裁</figcaption>
            </figure>
            <figure class="col-6 pd-0">
                <img src="~/Content/images/Service/p6/pic7.jpg" alt="經典設計">
                <figcaption>經典設計</figcaption>
            </figure>
            <figure class="col-6 pd-0">
                <img src="~/Content/images/Service/p6/pic8.jpg" alt="精選建設案場">
                <figcaption>精選建設案場</figcaption>
            </figure>
        </div>
    </article>

</section><!-- content //-->