
@{
    ViewBag.Title = "經營實績:天京社區,日月光社區,台北灣社區,江山萬里社區,宏國大鎮,基隆海洋大學社區";
    ViewBag.BodyClass = "Results";
    ViewBag.Target = "經營實績";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}

@* @Html.Partial("sidebar")

<section class="content">
    <article id="tab-1" class="tab-content text-left">
        <h3 class="title">大型案場</h3>
        <ol class="list-pic">
            <li><img src="~/Content/images/Results/p1/pic.jpg"><span>天京社區</span></li>
            <li><img src="~/Content/images/Results/p1/pic2.jpg"><span>日月光社區</span></li>
            <li><img src="~/Content/images/Results/p1/pic3.jpg"><span>台北灣社區</span></li>
            <li><img src="~/Content/images/Results/p1/pic4.jpg"><span>江山萬里社區</span></li>
            <li><img src="~/Content/images/Results/p1/pic5.jpg"><span>宏國大鎮</span></li>
            <li><img src="~/Content/images/Results/p1/pic6.jpg"><span>基隆海洋大學社區</span></li>
            <li><img src="~/Content/images/Results/p1/pic7.jpg"><span>南崁電通市社區</span></li> @* word補充裡
        </ol>
    </article>

    <article id="tab-2" class="tab-content text-left">
        <h3 class="title">特殊案場</h3>
        <ol class="list-pic">
            <li><img src="~/Content/images/Results/p2/pic.jpg"><span>三軍總醫院</span></li>
            <li><img src="~/Content/images/Results/p2/pic2.jpg"><span>家樂福</span></li>
            <li><img src="~/Content/images/Results/p2/pic3.jpg"><span>桃園中油煉油廠</span></li>
            <li><img src="~/Content/images/Results/p2/pic4.jpg"><span>國光發電廠</span></li> 用新圖
            <li><img src="~/Content/images/Results/p2/pic5.jpg"><span>國軍替代役中心</span></li>
        </ol>
    </article>

    <article id="tab-3" class="tab-content text-left">
        <h3 class="title">豪宅案場</h3>
        <ol class="list-pic">
            <li><img src="~/Content/images/Results/p3/pic.jpg"><span>淡水原石樸莊社區</span></li>
            <li><img src="~/Content/images/Results/p3/pic2.jpg"><span>台北大直明水悅</span></li>
            <li><img src="~/Content/images/Results/p3/pic3.jpg"><span>星海別墅</span></li>
            <li><img src="~/Content/images/Results/p3/pic4.jpg"><span>日光苑</span></li>
            <li><img src="~/Content/images/Results/p3/pic5.jpg"><span>天城社區</span></li>
        </ol>
    </article>

    <article id="tab-4" class="tab-content">
        <h3 class="title">獲獎實績</h3>
        <ol class="list-pic">
            <li><img src="~/Content/images/Results/p4/pic.jpg"><span>三軍總醫院感謝狀</span></li>
            <li><img src="~/Content/images/Results/p4/pic2.jpg"><span>感謝狀</span></li>
            <li><img src="~/Content/images/Results/p4/pic3.jpg"><span>新北市 績優</span></li>
            <li><img src="~/Content/images/Results/p4/pic4.jpg"><span>節能減碳認證</span></li>
            <li><img src="~/Content/images/Results/p4/pic5.jpg"><span>績優會員證書</span></li>
        </ol>
    </article>
</section> *@

<section class="wrap">
    <h3 class="title">大型案場</h3>
    <ol class="list-pic">
        <li><img src="~/Content/images/Results/p1/pic.jpg"><span>天京社區</span></li>
        <li><img src="~/Content/images/Results/p1/pic2.jpg"><span>日月光社區</span></li>
        <li><img src="~/Content/images/Results/p1/pic3.jpg"><span>台北灣社區</span></li>
        <li><img src="~/Content/images/Results/p1/pic4.jpg"><span>江山萬里社區</span></li>
        <li><img src="~/Content/images/Results/p1/pic5.jpg"><span>宏國大鎮</span></li>
        <li><img src="~/Content/images/Results/p1/pic6.jpg"><span>基隆海洋大學社區</span></li>
        <li><img src="~/Content/images/Results/p1/pic7.jpg"><span>南崁電通市社區</span></li> @* word補充裡 *@
    </ol>
</section>

<section class="bg-primary">
    <div class="wrap">
        <h3 class="title text-white">特殊案場</h3>
        <ol class="list-pic">
            <li><img src="~/Content/images/Results/p2/pic.jpg"><span>三軍總醫院</span></li>
            <li><img src="~/Content/images/Results/p2/pic2.jpg"><span>家樂福</span></li>
            <li><img src="~/Content/images/Results/p2/pic3.jpg"><span>桃園中油煉油廠</span></li>
            <li><img src="~/Content/images/Results/p2/pic4.jpg"><span>國光發電廠</span></li> @* 用新圖 *@
            <li><img src="~/Content/images/Results/p2/pic5.jpg"><span>國軍替代役中心</span></li>
        </ol>
    </div>
</section>

<section class="wrap">
    <h3 class="title">豪宅案場</h3>
    <ol class="list-pic">
        <li><img src="~/Content/images/Results/p3/pic.jpg"><span>淡水原石樸莊社區</span></li>
        <li><img src="~/Content/images/Results/p3/pic2.jpg"><span>台北大直明水悅</span></li>
        <li><img src="~/Content/images/Results/p3/pic3.jpg"><span>星海別墅</span></li>
        <li><img src="~/Content/images/Results/p3/pic4.jpg"><span>日光苑</span></li>
        <li><img src="~/Content/images/Results/p3/pic5.jpg"><span>天城社區</span></li>
    </ol>
</section>

<section class="bg-success">
    <div class="wrap">
        <h3 class="title text-white">獲獎實績</h3>
        <ol class="list-pic">
            <li><img src="~/Content/images/Results/p4/pic.jpg"><span>三軍總醫院感謝狀</span></li>
            <li><img src="~/Content/images/Results/p4/pic2.jpg"><span>感謝狀</span></li>
            <li><img src="~/Content/images/Results/p4/pic3.jpg"><span>新北市 績優</span></li>
            <li><img src="~/Content/images/Results/p4/pic4.jpg"><span>節能減碳認證</span></li>
            <li><img src="~/Content/images/Results/p4/pic5.jpg"><span>績優會員證書</span></li>
        </ol>
    </div>
</section>