
@{
    ViewBag.Title = "企業展望:結合全方位的監控系統，一流的無線傳輸設備，24小時的緊急求救系統，期盼提升公共安全，周到服務社區家庭";
    ViewBag.BodyClass = "Future";
    ViewBag.Target = "企業展望";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="wrap">
    <div class="col-3">
        <img src="~/Content/images/Future/pic.png" alt="英騰集團總裁照片 莊麗鳳">
        <h3 class="title">總裁期許</h3>
    </div>
    <article class="col-9 text-left">
        <p>『家』乃人生活之根本，幸福的源頭，隨著經濟蓬勃發展，國民生活水準提高，守望相助的觀念日益薄弱，使不肖之徒有機可乘。基於社會責任的體現並協助政府維持和樂社會，於2010年率專業保全團隊及幹部創立【英騰保全股份有限公司】，結合全方位的監控系統，一流的無線傳輸設備，24小時的緊急求救系統，期盼提升公共安全，周到服務社區家庭，回饋社會大眾。</p>
        <p>本公司成立以來，秉持著【英騰許您一個安全的家】的理念，貫徹【服務優先、專業值勤、安全第一】的品質政策，堅持【好還要更好】的服務態度，榮獲ISO9001品質認證後仍不斷追求卓越，更於2015年成立【英騰物業股份有限公司】，多元化協助社區總體營造，做政府及社區的橋樑，規劃節能減碳計畫為社區省荷包，協助舉辦社區活動敦親睦鄰，發揚在地人文精神，結合當地風俗民情，突顯社區優質文化，盼能喚醒人與人之間的善良溫情，英騰用心守護您的家。</p>
        <p>『英騰集團』在剛柔並濟的領導下，日益茁壯，蒸蒸日上，在全體同仁的努力下，打造優良口碑，深受客戶好評，奠定公司信譽，讓您提到英騰，只有信賴，【安全可靠】不再是理想，而是實踐。</p>
        <blockquote>
            集團總裁 <cite class="sign">莊麗鳳</cite>
        </blockquote>
    </article>
</section>