@charset "UTF-8";

//
// breadcrumb
// --------------------------------------------------

.breadcrumb {
    @extend %list-inline;

    display: inline-block;
    background: url(#{$img-path}/breadcrumb_bg.gif) 0 bottom repeat-x;
    color: #DCCEDD;
    line-height: 1.65;
    padding: 5px $gutter 10px;

    li {
        margin-right: 6px;

        &:last-child { margin-right: 0; }
    }

    a {
        color: lighten($body-color,45);
        font-size: em(13px);

        @include el(after, false, '/') {
            margin-left: 3px;
            // color: darken($brand-gray, 7%);
        }
        &:hover, &:active { color: $link-color; }
    }
}