@charset "UTF-8";

// 下為基本樣式(屬性固定)
$btn-state-color:        #fff !default;
$btn-disabled-bg:        $gray-light !default;
$btn-effect:             'background .35s, color .5s' !default;
$btn-display:            inline-block !default;
$btn-pd:                 12px 20px !default;
$btn-border-radius:      5px !default;
$btn-font-size:          18px !default;
$btn-line-height:        1.01 !default;

// 下為可自定屬性及樣式
$btn-styles: (
    color:               $btn-state-color,
    background:          $brand-primary,
    letter-spacing:      1px,
) !default;

$btn-hover-styles: (
    background:          lighten($brand-primary, 6%),
    color:               #fff
) !default;


// button
// ----------------------------------------------

[class*="btn"] {
    // 下為預設樣式
    @if $btn-display       { display: $btn-display }
    @if $btn-pd            { padding: $btn-pd }
    @if $btn-border-radius { border-radius: $btn-border-radius }
    @if $btn-font-size     { font-size: $btn-font-size }
    @if $btn-line-height   { line-height: $btn-line-height }

    // 下為追加樣式-自定屬性與樣式
    @each $attribute, $value in $btn-styles {
        #{$attribute}: #{$value};
    }
    @if $btn-effect { @include transition($btn-effect); }

    &, &:active, &.active {
        &:focus {
            @include tab-focus;
        }
    }
    &:active, &.active {
        outline: 0;
    }
    &:hover, &:active, &.active,
    &:focus, &.focus {
        @each $attribute, $value in $btn-hover-styles {
            #{$attribute}: #{$value};
        }
    }
    &.disabled, &[disabled], fieldset[disabled] & {
        cursor: $cursor-disabled;
        opacity: .65;
        @if $btn-disabled-bg { background-color: $btn-disabled-bg; }
    }
}

@if $states {

    %btn-states {
        color: #fff;
    }

    $selector: ();
    @each $type, $color in $state-type {
        $selector: $selector, unquote(".btn-#{$type}");

        .btn-#{$type} {
            background-color: $color;
            border-color: darken($color, 5%);

            &:hover, &:active {
                background-color: darken($color, 10%);
                @extend %btn-states;
            }
        }
    }
    #{$selector} {
        @extend %btn-states;
    }
}
