@charset "UTF-8";

$goTop-pos:        bottom 30px right 20px !default;
$goTop-effect:     'color 1s, opacity .5s' !default;

$goTop-styles: (
    opacity: .65,
    font-size: 35px,
    color: $footer-color
) !default;

$goTop-hover-styles: (
    opacity: 1,
    color: $footer-color
) !default;

//
// goTop
// --------------------------------------------------

.goTop {
    display: none;
    z-index: z(goTop);

    @include fixed($goTop-pos);
    @include transition($goTop-effect);

    @each $attribute, $value in $goTop-styles {
        #{$attribute}: #{$value};
    }

    &:hover, &:active {
        @each $attribute, $value in $goTop-hover-styles {
            #{$attribute}: #{$value};
        }
    }
    &.bottom { bottom: 95px; }
}