@charset "UTF-8";

//
// label
// --------------------------------------------------

.label {
    color: darken($warning,20);
    background: lighten($warning,35);
    border-radius: 3px;
    font-size: em(15);

    display: inline;
    padding: 2px 5px;
    margin: 0 5px;
}