
@{
    ViewBag.Title = "企業特色";
    ViewBag.BodyClass = "Info";
    ViewBag.Target = "企業特色";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="wrap">
    <div class="col-3">
        <img src="~/Content/images/Info/pic.png" alt="特勤圖片">
    </div>
    <article class="col-9 text-left">
        <h3 class="title">七海官邸專業指導</h3>
        <p>英騰保全聘請總統級專業維安長官全程親臨指導，並規劃安全教育訓練，培養一流特勤人才。</p>
        <p>主要結合曾服役過之國安特勤、空降特勤、陸戰兩棲蛙邱及憲兵等之卓越人士，再加以扎實嚴格的訓練，人員均具有武術的基礎，並具備安全維護及貼身保全等各種勤務技能。</p>
    </article>
</section>

<section class="bg-warning">
    <ol class="list-pic clear">
        <li><img src="~/Content/images/Info/pic2.jpg"></li>
        <li><img src="~/Content/images/Info/pic3.jpg"></li>
        <li><img src="~/Content/images/Info/pic4.jpg"></li>
        <li><img src="~/Content/images/Info/pic5.jpg"></li>
    </ol>
</section>

<section class="bg-primary">
    <h3 class="title text-white">VIP 服務</h3>
    <article class="wrap text-left">
        <h4 class="text-center text-white">目前提供五項服務</h4>
        <ol>
            <li>建物安全計畫<br>
                建物安全計畫係以專業角度協助社區住戶評估檢測自宅防竊的軟硬體設施含門、窗、鎖、照明設備及警報設備等項目，當然也包含居家防竊的宣導及針對住宅防護提出改善建議，讓民眾強化自我能力，社區不再有死角，大大降低不幸發生的機率，確保居家安全。
            </li>
            <li>法律諮詢<br>
                英騰提供民眾暢通而便利使用之法律諮詢管道，不但可在紛爭事件早期獲得正確相關法律知識與判斷，以息爭止訟，更可藉著專業諮詢管道知曉法律上之訴訟權益。
            </li>
            <li>建物點交<br>
                為了維護住戶財產權益及保障居住安全，英騰企業協助並接受委託；社區大樓建築與結構、機電與消防等點交之工作。主要任務為1.面稽查核。2.建築外觀、建材及設備等。3.結構安全評估。4.公共設施。
            </li>
            <li>生活服務客製化<br>
                依社區量身打造，提供住戶計程車叫車服務，美食到府服務，專人到府SPA服務，專人到府指甲彩繪，專人協助衣物送洗，居家清潔，修繕服務，自用車保養，維修服務等。
            </li>
            <li>人身保全<br>
                總統級維安規格，國安單位人員全程訓練指導，特別針對國內外隨扈，豪宅特勤保全，學童上下學接送，私人保鑣等，讓安全萬無一失，滴水不漏。
            </li>
        </ol>
    </article>
</section>