@charset "UTF-8";


/*      layout
-----------------------------------------------------------------------*/
// 置中(有最大寬度限制,非滿版才需要)
%center {
    max-width: $max-width;
    margin: 0 $gutter+35;

    @include mq(wider) { margin: 0 auto; }
    @include mq-max(tablet) { margin: 0; }
}

// RWD容器
%contain {
    @extend %clearfix;

    @include mq-max(tablet) {
        padding-left: $gutter;
        padding-right: $gutter;
    }
}

html, body {
    text-align: center;
    height: 100%;
}

.wrap {
    @extend %center;
    @extend %contain;
}

#header, #footer, #main {
    @extend %contain;
}
#header, #footer, #main/*, .wrap*/ {
    position: relative;
}

#wrapper {
    @if $lte7 { _height: 100%; }
    min-height: 100%;
    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距

    @if $wrapper-bg {
        background: $wrapper-bg;
    }
}


// header
// ----------------------------------------------------------------------
#header {
    @if $header-bg { background: $header-bg; }
    height: $header-height;
    z-index: z(header);
}

.logo {
    cursor: pointer; cursor: hand; // for ie
    z-index: z(logo);

    @include text-pic($logo-img, nth($logo-size,1), nth($logo-size,2));
    @if $logo-pos {
        // @include absolute($logo-pos);
        @include pos-center(x);
    }
    @else {
        float: left;
    }
}


// footer 頁腳
// ----------------------------------------------------------------------
#footer {
    @if $footer-bg { background: $footer-bg; }
    color: $footer-color;
    min-height: $footer-height;
    margin-top: -($footer-height);
    z-index: z(footer);

    // 本次專案樣式
}
.copyright {
    font-size: em(14px);
    color: $info;
    margin-top: 30px;
}

.foot-contact {
    padding-left: $gutter*2;
    color: #414854;
    font-size: em(14px);
}

