@charset "UTF-8";

// 選單
@import "module/nav";

// 共用module
@import "module/classes";
@import "module/list";
@import "module/btn";
@import "module/slider";
@import "module/goTop";
// @import "module/animate";


// 本次專案樣式
// ----------------------------------------------------------------------

// #wrapper {
//     @include el(before) {
//         @include absolute(left 0 right 0 top 0);
//         background: $brand-primary url(#{$img-path}/bg.gif) repeat-x 0 56px;
//         height: 120px;
//     }
// }

// 頂端選單
.top-nav {
    z-index: z(menu)+1;
    @include absolute(left 50% top 12%);
    // margin-left: 26%;
    margin-left: 365px;

    @include mq(wider) { margin-left: 430px; }

    a {
        font-size: em(15px);
        color: #fff;
        margin-left: 12px;

        &:hover, &:active { color: lighten($warning,20); }
    }
}

#banner {

    @if $index {
        // img w1200 x h556
        padding-top: 28px;
        padding-bottom: 28px;
        height: 616px;
        position: relative;

        @include radial-gradient(#2D5D7C 10%, #2A1F3C 90%);
        @include el(after) {
            @include pos-center(x);
            top: 28px;
            background: url(#{$img-path2}/banner_border.png) center center no-repeat;
            width: 1200px;
            height: 556px;
            z-index: 3;
        }
    }
    @if $page {

        background-position: center 0;
        background-repeat: no-repeat;
        height: 260px;

        @for $i from 1 through length($menu-item) {
            .#{nth($menu-item,$i)} & {
                background-image: url(#{$img-path}/#{nth($menu-item,$i)}/banner.jpg),-webkit-radial-gradient(#2D5D7C 10%, #2A1F3C 90%);
                background-image: url(#{$img-path}/#{nth($menu-item,$i)}/banner.jpg),radial-gradient(#2D5D7C 10%, #2A1F3C 90%);
            }
        }
        h2 {
            margin-top: 120px;
            color: lighten($warning,40);
            text-shadow: 0 0 7px rgba(#000,.9);
        }
    }
}

// 總裁簽名
.sign {
    @include text-pic('sign.png',130px,57px);
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}

// 主選單的子選單
// .sub-nav {
//     display: none;
//     @extend %list-unstyled;

//     a {
//         display: block;
//         font-size: em(17);
//         color: $info;
//         line-height: 2;

//         &:hover, &:active { background: none; }
//     }

//     .collapse-title { color: $brand-secondary; }

//     li {
//         float: left;
//         width: percentage(1/3);
//         margin-bottom: $gutter;
//     }
// }